.form {
    display: block;
    align-self: center;

    max-width: 100%;
    width: 58%;

    padding: 3rem 3rem 2rem;
}

.form__title {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;

    margin: 2rem 0;
}

@media screen and (max-width: 1023px) {
    .form {
        padding: 2rem 3rem;
    }
    .form__title {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 767px) {
    .form {
        width: 100%;
        margin-bottom: 2rem;
    }
    .form__title {
        margin: 1rem 0 2rem;
    }
}

@media screen and (max-width: 410px) {
    .form {
        padding: 2rem 1rem;
    }
}