<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, minimal-ui">

    <link rel="stylesheet" href="assets/styles.min.css" type="text/css" media="all">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700;900&subset=cyrillic&display=swap" rel="stylesheet">

    <title>Planning Poker</title>
</head>

<body>

<main class="main">
    <div class="container">
        <div class="head">
            <h1 class="head__title">Planning Poker</h1>
            <img class="head__image" src="assets/images/ill.png" alt="">

        </div>
        <div class="contacts">
            <h2 class="contacts__title">Get in touch</h2>
            <p class="contacts__text">If you have any questions, suggestions or you just want to say 'hi', feel free to write us:
                <a class="contacts__link" href="#">planningpoker@gmail.com</a>
            </p>
        </div>

        <div class="bottom">
            <div class="bottom__copy">
                <p class="bottom__copy-text">© We made it, 2020</p>
            </div>
            <div class="bottom__nav">
                <a class="bottom__nav-item" href="about.html">About</a>
                <a class="bottom__nav-item" href="#">How It Works</a>
            </div>
        </div>
    </div>
</main>

</body>
