.line {
  display: block;
  position: relative;

  width: 100%;
  margin-top: 0.375rem;

  min-height: 0.25rem;

  background: rgba(236, 238, 255, 0.5);
  box-shadow: inset 2px 2px 5px rgba(136, 165, 191, 0.38), inset -3px -3px 7px #FFFFFF;
  border-radius: 8px;

  .underline {
    display: block;
    position: absolute;

    width: 70%;

    min-height: 0.375rem;

    background: linear-gradient(88.63deg, #8D8BFF -7.64%, #585EE6 145.94%);
    box-shadow: 6px 9px 40px rgba(63, 60, 255, 0.44), 6px 6px 16px #A6ABBD;

    border-radius: 8px;

    animation: increase 2s;
    animation-fill-mode: forwards;

    @keyframes increase {
      0% {
        width: 0;
      }
      100% {
        width: 70%;
      }
    }
  }
}
