.about {
  display: block;
  position: relative;

  width: 70%;
  height: auto;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 10px 10px 20px #A6ABBD, -10px -10px 20px #FFFFFF;
  border-radius: 8px;

  @media screen and (max-width: 1023px) {
    width: 90%;
  }

  .about__head {
    display: block;
    position: relative;

    width: 100%;

    padding: 3rem 0 1rem;

    background-color: #ECEEFF;
    border-radius: 8px 8px 0 0;

    @media screen and (max-width: 767px) {
      padding: 2rem 1rem;
    }

    .about__head-title {
      @extend %head-title;

      text-align: center;
      margin-bottom: 1rem;
    }

    .about__head-image {
      display: block;
      position: relative;

      width: 15%;
      margin: 0 auto;

      max-width: 100%;
      height: auto;

      & > img {
        display: block;
        position: relative;

        object-fit: contain;
        object-position: center;
      }

      @media screen and (max-width: 767px) {
        width: 25%;
      }
      @media screen and (max-width: 410px) {
        width: 60%;
      }
    }
  }

  .about__text {
    display: block;
    position: relative;

    width: 100%;
    padding: 2rem 1rem 3rem;

    & > *:not(:last-child) {
      border-bottom: 1px solid #eceeff;
    }

    @media screen and (max-width: 767px) {
      padding: 1rem 1rem 2rem;
    }
  }
}