.statistics {
  display: flex;
  position: relative;
  flex-flow: column;

  width: 50%;
  max-width: 100%;

  margin-bottom: 1rem;

  @media screen and (max-width: 767px){
    width: 100%;
  }

  .statistics__card {
    display: flex;
    flex-flow: column;
    position: relative;

    width: 100%;

    padding: 2rem 1.5rem;

    background: linear-gradient(312.52deg, rgba(236, 238, 255, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #ECEEFF;
    box-shadow: 10px 10px 20px #A6ABBD, -10px -10px 20px #FAFBFF;
    border-radius: 8px;

    @media screen and (max-width: 1023px){
      padding: 2rem 1rem;
    }
  }

  .statistics__title {
    @extend %h2;
  }

  .statistics__result {
    display: block;
    position: relative;

    margin: 0.5rem 0 1rem;
  }

  .statistics__result-text {
    @extend %h2;

    margin-left: calc(70% - 1rem);
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to top left,#f50057,#9b51e0);

    animation: arrival 2s;
    animation-fill-mode: forwards;

    @keyframes arrival {
      0% {
        margin-left: 0;
      }
      100% {
        margin-left: calc(70% - 1rem);
      }
    }
  }

  .statistics__details {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    position: relative;

    margin: 1rem 0;

    @media screen and (max-width: 410px) {
      flex-flow: row wrap;
    }

    & > * {
      width: calc(50% - 0.5rem);

      @media screen and (max-width: 410px) {
        width: 100%;
      }
    }
  }

  .statistics__link {
    margin: 0 auto;
  }

  .statistics__button {
    @include button();
  }
}