.info__group {
  display: flex;
  flex-flow: row nowrap;
  position: relative;

  margin-bottom: 0.5rem;

  .info__group-title {
    font-size: 0.8125rem;
    line-height: 1.5;
    font-weight: 500;

    min-width: 1.2rem;
    margin-right: 0.5rem;
  }

  .info__group-meaning {
    @extend %stat;
  }
}