@import '../helpers/_snippets.scss';

.about {
  display: block;
  position: relative;

  margin: 0 1rem 2rem;


  .about__head {
    display: block;
    position: relative;

    width: 100%;
    min-height: 250px;
    margin: 1rem 0;

    //background-image: url(./../../images/pattern.png);
    //background-size: 6rem auto;
    //background-repeat: repeat;
    //background-position: 100% 100%;

    @media screen and (max-width: 767px) {
      min-height: 200px;
    }

    .about__head-text {
      display: block;
      position: absolute;
      bottom: 2rem;

      margin: 1rem;

      @media screen and (max-width: 410px) {
        bottom: 1rem;
      }

      .about__head-text-title {
        @extend %about;

        display: inline-block;
        margin-bottom: 0.5rem;
        //padding: 0.5rem 1rem;
        //background-color: #FFFFFF;
      }

      .about__head-text-lead {
        @extend %lead;

        //background-color: #ffffff;
        //padding: 0.5rem 1rem;
      }

    }
  }

  .about__text {
    display: block;
    position: relative;

    width: 100%;
    padding: 2rem 1rem 0;

    @media screen and (max-width: 767px) {
      padding: 1rem 1rem 2rem;
    }
  }
}