@import '../helpers/_snippets.scss';

.about {
  display: block;
  position: relative;

  margin: 0 1rem 2rem;

  .about__head {
    display: block;
    position: relative;

    margin: 4rem 0 1rem;

    width: 100%;

    @media screen and (max-width: 767px) {
      margin: 2rem 0 1rem;
    }

    .about__head-img {
      display: block;
      position: relative;
      width: 6rem;
      height: auto;

      margin: 1rem 0;

      @media screen and (max-width: 767px) {
        width: 4rem;
      }
    }

    .about__head-title {
      @extend %about;
      margin-bottom: 0.5rem;
    }

    .about__head-lead {
      @extend %lead;
      margin-bottom: 0.25rem;
    }
  }

  .about__text {
    display: block;
    position: relative;

    width: 100%;
    padding: 2rem 0 0;

    @media screen and (max-width: 767px) {
      padding: 1rem 0 2rem;
    }
  }
}
