@import "../helpers/mixins.scss";
@import "../helpers/snippets.scss";

.card {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 1.5rem;
  margin-right: 1.5rem;

  @include card();

  &:empty {
    visibility: hidden;
  }

  .card__number {
    @extend %number;

    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(180deg, #444BE0 0%, #6123E5 105.18%);
  }
}

.vote-card {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 1.5rem;
  margin-right: 1.5rem;

  @include vote-card();

  .vote-number {
    @extend %number;

    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to top left,#f50057,#9b51e0);
  }
}

.card__holder {
  display: flex;
  flex-flow: row wrap;
}