@import '../helpers/_snippets.scss';

.contacts {
  display: block;
  position: relative;
  max-width: 100%;

  margin-bottom: 1rem;

  .contacts__title {
    @extend %note-title;
  }

  .contacts__text {
    @extend %contacts;

    border-bottom: 1px solid #F4F4FC;

    &:hover {
      border-bottom: 1px solid #8D8BFF;
      transition: border-bottom 0.375s;
    }
  }
}