@import '../helpers/_snippets.scss';

.contacts {
  display: block;
  position: relative;
  max-width: 100%;

  margin-bottom: 1rem;

  .contacts__title {
    @extend %note-title;
  }

  .contacts__text {
    @extend %contacts;

    border-bottom: 1px solid #F4F4FC;

    &:hover {
      border-bottom: 1px solid #8D8BFF;
      transition: border-bottom 0.375s;
    }
  }

  .contacts__link {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;

    color: #444BE0;

    &:hover {
      color: #7e7bff;
    }
  }
}