.head {
  display: flex;
  position: relative;
  flex-flow: column;

  width: 42%;
  max-width: 100%;

  padding: 3rem;

  background-color: #ECEEFF;
  border-radius: 8px 0 0 8px;

  @media screen and (max-width: 1023px) {
    padding: 2rem;
  }

  @media screen and (max-width: 767px) {
    padding: 2rem 1rem;
    border-radius: 8px 8px 0 0;
    width: 100%;
  }

  .head__title {
    //@extend %h1;

    @media screen and (max-width: 767px) {
      text-align: center;
      margin: 1rem 0;
    }
  }

  .head__image {
    display: block;
    position: relative;

    max-width: 100%;
    height: auto;

    margin: 1rem 0;

    object-fit: contain;
    object-position: center;

    @media screen and (max-width: 767px) {
      width: 8rem;
      margin: 0 auto;
    }
  }
}