@import '../helpers/_snippets.scss';

.note {
  display: flex;
  flex-flow: row wrap;
  position: relative;

  padding: 1rem 0;

  .note__title {
    display: block;
    position: relative;

    width: 20%;
    max-width: 100%;

    @extend %note-title;

    @media screen and (max-width: 767px) {
      width: 100%;
      margin-bottom: 0.5rem;
    }
  }

  .note__content {
    display: block;
    position: relative;

    width: calc(70% - 1rem);
    max-width: 100%;

    @extend %note-text;

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }
}