@import '../helpers/_snippets.scss';

.note {
  display: flex;
  flex-flow: row wrap;
  position: relative;

  width: 80%;

  background-color: #FFFFFF;
  box-shadow: 10px 10px 20px #A6ABBD, -10px -10px 20px #FAFBFF;
  margin-bottom: 1rem;

  padding: 1rem;

  border-radius: 8px;

  @media screen and (max-width: 1023px){
    width: 90%;
  }

  @media screen and (max-width: 767px){
    width: 100%;
  }

  .note__title {
    display: block;
    position: relative;

    width: 20%;
    max-width: 100%;

    @extend %note-title;

    @media screen and (max-width: 767px) {
      width: 100%;
      margin-bottom: 0.5rem;
    }
  }

  .note__content {
    display: block;
    position: relative;

    width: calc(80% - 1rem);
    max-width: 100%;

    @extend %note-text;

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }
}