@import "../helpers/snippets.scss";

.result {
  display: flex;
  flex-flow: row nowrap;
  position: relative;

  margin-bottom: 0.5rem;

  .result__title {
    font-size: 0.825rem;
    line-height: 1.5;
    font-weight: 500;

    min-width: 1.2rem;
    margin-right: 0.5rem;
  }

  .result__text {
    font-size: 0.825rem;
    font-weight: 400;
    line-height: 1.5;
    text-transform: none;
  }
}