@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import "../helpers/snippets.scss";
@import "../helpers/mixins.scss";

.timer {
  display: flex;
  flex-flow: row nowrap;

  width: 45%;
  max-width: 100%;

  margin: 0.5rem 0 0;

  @media screen and (max-width: 767px){
    width: 100%;
    margin: 1rem 0;
  }

  .timer__counter {
    @extend %timer;
  }

  .timer__button {
    margin: 0 1rem;
    align-self: baseline;
    @include light-button();
  }
}