body {
  /*margin: 0;*/
  /*!*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*!*/
  /*!*  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*!*/
  /*!*  sans-serif;*!*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: #F4F4FC;
}

body {
  width: 67rem;
  max-width: 100%;

  margin: 0 auto;

  font: normal 16px/1.5 'Rubik', sans-serif;;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}